body{
    margin:0;
    font-family: 'Pacifico', cursive;
    background:linear-gradient(135deg,#ffd6e7,#ffe9f3);
    overflow:hidden;
    }
    .wrap{margin-top:40px;}
    
    #startScreen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    }
    
    button{
    padding:15px 40px;
    border:none;
    border-radius:30px;
    font-size:22px;
    cursor:pointer;
    background:#ff5ca8;
    color:white;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
    }
    
    /* #gameScreen{
    height:100vh;
    } */

    #gameScreen{
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px;
    box-sizing:border-box;
    }
 
    .heart{
    position:absolute;
    font-size:40px;
    cursor:pointer;
    animation:fall linear;
    z-index:999;
    }
    
    @keyframes fall{
    from{top:-50px;}
    to{top:110vh;}
    }
    
    /* #messageBox{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:30px;
    border-radius:25px;
    width:45%;
    text-align:center;
    box-shadow:0 6px 20px rgba(0,0,0,.25);
    z-index:10;
    } */

    #messageBox{
    background:white;
    padding:30px;
    border-radius:25px;
    width:45%;
    text-align:center;
    box-shadow:0 6px 20px rgba(0,0,0,.25);
    }

    #msgText{
    font-size:26px;
    line-height:1.4;
    }
        
    
    /* #gifBox{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    } */
    
    #gifBox img{
    width:280px;
    border-radius:20px;
    }
    
    #nextBtn{
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
    display:none;
    }
    

    .proposal{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    }
        
    .msg{
    background:white;
    padding:20px;
    border-radius:20px;
    max-width:600px;
    }
    
    .btns{
    margin-top:20px;
    }
    
    #reactGif{
    width:220px;
    border-radius:20px;
    margin-bottom:15px;
    }

    /* LOVE POPUP */
    
    #lovePopup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    pointer-events:none;
    transition:1s;
    }
    
    #lovePopup.show{
    opacity:1;
    pointer-events:auto;
    }
    
    .loveText{
    font-size:60px;
    color:#ffb6c1;
    text-shadow:0 0 20px pink,0 0 40px hotpink;
    animation:pulse 2s infinite;
    }
    
    @keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
    }
    
    .hug img{
    width:250px;
    display:block;
    margin:100px auto 20px;
    }
    
    .finalText{
    text-align:center;
    background:white;
    padding:20px;
    border-radius:20px;
    max-width:500px;
    margin:auto;
    }

    .options{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:80px;
    }
    
    .card{
    background:white;
    padding:30px;
    border-radius:25px;
    cursor:pointer;
    transition:.3s;
    width:200px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    }
    
    .card:hover{
    transform:scale(1.1);
    }
        
        
        

