body{
    margin:0;
    font-family: 'Pacifico', cursive;
    background:linear-gradient(135deg,#ffd6e7,#ffe9f3);
    overflow:hidden;
    }
    
    #startScreen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    }
    
    button{
    padding:15px 40px;
    border:none;
    border-radius:30px;
    font-size:22px;
    cursor:pointer;
    background:#ff5ca8;
    color:white;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
    }
    
    #gameScreen{
    height:100vh;
    }
    
    .heart{
    position:absolute;
    font-size:40px;
    cursor:pointer;
    animation:fall linear;
    z-index:999;
    }
    
    @keyframes fall{
    from{top:-50px;}
    to{top:110vh;}
    }
    
    #messageBox{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    background:white;
    padding:20px;
    border-radius:20px;
    width:35%;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    }
    
    #gifBox{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    }
    
    #gifBox img{
    width:280px;
    border-radius:20px;
    }
    
    #nextBtn{
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
    display:none;
    }
    

    .proposal{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    }
        
    .msg{
    background:white;
    padding:20px;
    border-radius:20px;
    max-width:600px;
    }
    
    .btns{
    margin-top:20px;
    }
    
    #reactGif{
    width:220px;
    border-radius:20px;
    margin-bottom:15px;
    }

    #lovePopup{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:40px;
    color:#ff2d7a;
    animation:zoom 2s infinite alternate;
    }
    
    @keyframes zoom{
    from{transform:translate(-50%,-50%) scale(1);}
    to{transform:translate(-50%,-50%) scale(1.1);}
    }
    
    .hug img{
    width:250px;
    display:block;
    margin:100px auto 20px;
    }
    
    .finalText{
    text-align:center;
    background:white;
    padding:20px;
    border-radius:20px;
    max-width:500px;
    margin:auto;
    }

    .options{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:80px;
    }
    
    .card{
    background:white;
    padding:30px;
    border-radius:25px;
    cursor:pointer;
    transition:.3s;
    width:200px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    }
    
    .card:hover{
    transform:scale(1.1);
    }
        
        
        
